# --- Web Framework ---
Flask
flask-cors
gunicorn
requests
uvicorn
python-dotenv

# --- Data & AI ---
# Bỏ số phiên bản để pip tự tìm bản tương thích nhất với Python 3.11
google-generativeai
numpy
pandas
pillow
scikit-learn
scipy
ultralytics
spacy
vncorenlp
opencv-python-headless

# --- Torch (Chỉ cài bản CPU cho nhẹ server) ---
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu

# --- Utilities ---
beautifulsoup4
openpyxl
python-docx
PyYAML
tqdm
urllib3
Werkzeug