.certification {
  width: 80%;
  height: 40vh;
  margin-left: 10vw;
  margin-top: 10vh;
  display: flex;
  /* border: 2px solid red; */
  background: #36454f;
  border-radius: 50px;
}
.certification .image {
  border-radius: 50px;
  width: 35%;
}

.certification .image img {
  height: 100%;
  width: 100%;
  border-radius: 50px;
}

.cer-content {
  width: 65%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cer-content h1 {
  font-size: 4rem;
  padding-top: 20px;
}
.cer-content p {
  padding: 30px 50px 0 50px;
  font-size: 1.8rem;
  text-align: center;
}

@media (max-width: 768px) {
  .certification {
    width: 95%;
    height: auto;
    margin-left: 2.5%;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
  }

  .certification .image {
    width: 100%;
    height: 200px;
    border-radius: 50px 50px 0 0;
  }
  
  .certification .image img {
    border-radius: 50px 50px 0 0;
    object-fit: cover;
  }

  .cer-content {
    width: 100%;
  }

  .cer-content h1 {
    font-size: 2.5rem;
  }

  .cer-content p {
    font-size: 1.2rem;
    padding: 10px 20px;
  }
}
